* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 3em;
  height: 100vh;
}

#balance {
  place-items: center;
}

#balance h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#balance-amount {
  color: green;
}

#add-transaction {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

#add-transaction h2 {
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}

.transactions {
  margin-top: 1rem;
}

#transaction-list {
  margin-top: 1rem;
}

.income {
  color: #28a745;
}
.expense {
  color: #dc3545;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  /* animation: listItemFadeIn 0.5s ease-in-out; */
}
