* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.text-center {
  text-align: center;
}

input {
  width: 94%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.transformers {
  width: 94%;
  text-align: left;
  margin: auto;
}

.transformers div {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  padding: 1.2rem;
  background-color: beige;
  position: relative;
}

.transformers label {
  font-size: 1rem;
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  background-color: #000;
  color: #fff;
  padding: 0.25rem;
}
